.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  
}
#example
{
  width: 90%;
  height: 100%;
}
#card
{
  border:2px solid rgb(200, 194, 194);
  width: 85%;
  padding: 10px;
  margin: 20px 0px;
  box-shadow:1px 1px 15px 1px rgb(248, 245, 245) ;
}
.selfText
{
  word-wrap: break-word;
  width: 100%;
}
/* p{
  display: flex;
  margin-block-start: 0%;
    margin-block-end: 0%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
    unicode-bidi: plaintext;
  width: 100%;
  word-wrap: break-word;
} */
code 
{
  display: block;
  white-space: pre-wrap; /* Preserve white space and wrap lines */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  max-width: 100%;
}
#inside
{
  margin: 15px 0px;
}







